<!DOCTYPE html>
<html lang="ko">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>내 정보 확인하기</title>
  <link rel="stylesheet" href="{% static 'css/my_information.css' %}">
</head>
<body>
  <div class="layout">
    <header>
      <div class="header-container">
        <a href="/mypage">
          <img src="{% static 'img/Arrow_Left.png' %}" alt="" class="back-btn">
        </a>
        <img src="{% static 'img/내 정보 확인하기 (1).png' %}" alt="" class="title">
      </div>
    </header>
    <main>
      <div class="user">
        <img src="{% static 'img/user-circle.png' %}" alt="유저사진" id="user-img">
        <span id="user-id">
          {% if request.user.is_authenticated %}
              <div>
                  {{ user.username }}님 
              </div>
            {% endif %}</span>
      </div>
      <hr>
      <div class="information">
        <div class="name">
          <h2>이름</h2>
          <span id="user-name">
            {% if request.user.is_authenticated %}
                <span>{{ user.username }}</span>
              {% endif %}</span>
        </div>
        <div class="e-mail">
          <h2>이메일</h2>
          <span id="user-email">
            {% if request.user.is_authenticated %}
                <span>{{ user.email }}</span>
              {% endif %}</span>
        </div>

        <a href="/common/logout">
          <div class="logout-btn">
            <p style="color: white; text-decoration-line: none;">로그아웃</p>
          </div>
        </a>
        


      </div>
    </main>
  </div>
</body>
</html>