<!DOCTYPE html>
<html lang="ko">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>맞재</title>
  <link rel="stylesheet" href="{% static 'css/마이페이지.css' %}">
</head>
<body>
  <div class="container">
    <header>
      <div class="header-container">
        <a href="/">
          <img src="{% static '/img/Arrow_Left.png' %}" alt="" class="back-btn">
        </a>
        <img src="{% static 'img/My Page.png' %}"  alt="" class="title">
      </div>
    </header>

    <main>
      <div class="main-container">
        <img src="{% static 'img/user-circle.png' %}" alt="" class="user-img">
        <h2>OO님</h2>
      </div>

      <div class="btn-container">
        <a href="mydevice">
          <img src="{% static 'img/Group 32.png' %}" alt="" class="btn1">
        </a>
        <a href="myinformation">
          <img src="{% static 'img/Group 33.png' %}" alt="" class="btn2">
        </a>
      </div>
    </main>
  </div>
</body>
</body>
</html>